**TAREA CALIFICADA 3**

*Daniela Flores - 20211890*\
*Paula Castro - 20211722*\
*Maricruz Yupanqui - 20210429*

In [ ]:
import pandas as pd
import os

# 1. Integre los archivos que est√°n el folder comprimido (appendData.zip)

In [ ]:
DF1= pd.read_excel("https://github.com/in-Sinergy/Pau_T3/raw/main/level0.xlsx")
DF1
#no tiene los nombres de columnas correctos

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank,NaN
4,NaN,NaN,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,NaN,74.8839,NaN,13.34304,NaN,10.64506,NaN,26657.94355,NaN,-8,NaN,61,VERY HIGH HUMAN DEVELOPMENT
68,63,Georgia,0.802,NaN,71.694,NaN,15.56852,NaN,12.82222,NaN,14664.16825,NaN,17,NaN,64,VERY HIGH HUMAN DEVELOPMENT
69,63,Mauritius,0.802,NaN,73.5552,NaN,15.17353,e,10.42791,e,22025.34631,NaN,-1,NaN,62,VERY HIGH HUMAN DEVELOPMENT
70,63,Serbia,0.802,NaN,74.1923,NaN,14.40009,NaN,11.36987,NaN,19123.02747,NaN,4,NaN,62,VERY HIGH HUMAN DEVELOPMENT
71,66,Thailand,0.8,NaN,78.7154,NaN,15.882219,m,8.69712,NaN,17030.15352,NaN,6,NaN,64,VERY HIGH HUMAN DEVELOPMENT

In [ ]:
#se eliminar√°n las columnas con 50+ NaN
dontKeep=['Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 15']
DF1 = DF1.drop(columns=dontKeep)

In [ ]:
DF1

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,NaN,NaN,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
68,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
69,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
70,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
71,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [ ]:
#nuevos nombres
newColumns= DF1.iloc[3,:].to_list()
DF1.columns = newColumns
DF1

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,NaN,NaN,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
68,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
69,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
70,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
71,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [ ]:
#borrar las columnas restantes con valores NaN
DF1.dropna()
DF1 = DF1.dropna()
DF1

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
3,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
6,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5,3
7,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6,1
8,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11,2
9,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6,4
...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
68,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
69,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
70,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
71,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [ ]:
#borrar primera fila
DF1 = DF1.drop((3))
DF1

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
6,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5,3
7,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6,1
8,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11,2
9,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6,4
10,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18,5
...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
68,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
69,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
70,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
71,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [ ]:
import os

DF1.to_csv(os.path.join("data","level5.csv"),index=False)

OSError: Cannot save file into a non-existent directory: 'data'

In [ ]:
#la DF1 ya tiene los nombres de columnas necesarios, ahora se leen los dem√°s DF de github
#leer el link del repositorio en GitHub
repositorio = "https://github.com/in-Sinergy/Pau_T3/raw/main/"
#lista con los nombres de los archivos
lvls=range(1,5)
fileNames=['level'+str(lvl)+'.xlsx' for lvl in lvls]
#visualizamos el resultado
fileNames

In [ ]:
#generar el url para cada archivo
alltheLinks = [repositorio+fn for fn in fileNames]
alltheLinks

In [ ]:
#lista de DataFrames
allDFs= [pd.read_excel(link) for link in alltheLinks]
#asignando nombres a las columnas de cada uno
allColumnNames=[]
for df in allDFs:
    allColumnNames.append(set(df.columns))

In [ ]:
#n√∫mero de columnas en cada DF
[len(cols) for cols in allColumnNames]

In [ ]:
#columnas comunes
commonColumns=set.intersection(*allColumnNames)
len(commonColumns),commonColumns

In [ ]:
#columnas diferentes
set.union(*allColumnNames)-commonColumns
#se consideran despreciables

In [ ]:
#DF con las columnas comunes
dataframes=[df.loc[:,list(commonColumns)] for df in allDFs]

In [ ]:
# Concatenar todos los DataFrames en uno solo
combined_df = pd.concat(dataframes, ignore_index=True)
combined_df

# 2. Merge entre ese archivo, y el archivo countryCODES.xlsx.

In [ ]:
# Leer el archivo countryCODES.xlsx
countrys = pd.read_excel("https://github.com/in-Sinergy/Pau_T3/raw/main/countryCODES.xlsx")
countrys

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [ ]:
#como los nombres est√°n en may√∫sculas, formateamos el DF inicial
combined_df['Country']=combined_df.Country.str.upper()
combined_df

,Life expectancy at birth,Country,HDI rank,Mean years of schooling,Expected years of schooling,Gross national income (GNI) per capita,Human Development Index (HDI),GNI per capita rank minus HDI rank
0,83.9872,SWITZERLAND,1.0,13.859660,16.500299,66933.004540,0.962,5.0
1,83.2339,NORWAY,2.0,13.003630,18.185200,64660.106220,0.961,6.0
2,82.6782,ICELAND,3.0,13.767170,19.163059,55782.049810,0.959,11.0
3,85.4734,"HONG KONG, CHINA (SAR)",4.0,12.226210,17.278170,62606.845400,0.952,6.0
4,84.5265,AUSTRALIA,5.0,12.726820,21.054590,49238.433350,0.951,18.0
...,...,...,...,...,...,...,...,...
190,61.6627,BURUNDI,187.0,3.129267,10.722722,731.786709,0.426,4.0
191,53.8947,CENTRAL AFRICAN REPUBLIC,188.0,4.334000,8.040172,966.058611,0.404,1.0
192,61.5763,NIGER,189.0,2.116717,6.957112,1239.866936,0.400,-3.0
193,52.5254,CHAD,190.0,2.573774,8.035914,1364.169417,0.394,-7.0
194,54.9752,SOUTH SUDAN,191.0,5.726140,5.542510,767.787000,0.385,-1.0

In [ ]:
# Realizar el merge. Asumimos que la clave com√∫n es 'Country'
merged_df = combined_df.merge(countrys,how='left', left_on='Country', right_on = 'Country')
merged_df

,Life expectancy at birth,Country,HDI rank,Mean years of schooling,Expected years of schooling,Gross national income (GNI) per capita,Human Development Index (HDI),GNI per capita rank minus HDI rank,Officialstatename,InternetccTLD,iso2,iso3
0,83.9872,SWITZERLAND,1.0,13.859660,16.500299,66933.004540,0.962,5.0,The Swiss Confederation,.ch,CH,CHE
1,83.2339,NORWAY,2.0,13.003630,18.185200,64660.106220,0.961,6.0,The Kingdom of Norway,.no,NO,NOR
2,82.6782,ICELAND,3.0,13.767170,19.163059,55782.049810,0.959,11.0,Iceland,.is,IS,ISL
3,85.4734,"HONG KONG, CHINA (SAR)",4.0,12.226210,17.278170,62606.845400,0.952,6.0,NaN,NaN,NaN,NaN
4,84.5265,AUSTRALIA,5.0,12.726820,21.054590,49238.433350,0.951,18.0,The Commonwealth of Australia,.au,AU,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...
190,61.6627,BURUNDI,187.0,3.129267,10.722722,731.786709,0.426,4.0,The Republic of Burundi,.bi,BI,BDI
191,53.8947,CENTRAL AFRICAN REPUBLIC,188.0,4.334000,8.040172,966.058611,0.404,1.0,NaN,NaN,NaN,NaN
192,61.5763,NIGER,189.0,2.116717,6.957112,1239.866936,0.400,-3.0,NaN,NaN,NaN,NaN
193,52.5254,CHAD,190.0,2.573774,8.035914,1364.169417,0.394,-7.0,The Republic of Chad,.td,TD,TCD
194,54.9752,SOUTH SUDAN,191.0,5.726140,5.542510,767.787000,0.385,-1.0,The Republic of South Sudan,.ss,SS,SSD

In [ ]:
#renombrando columnas
newNames = ['life_exp', 'country', 'rank', 'years_school', 'exp_school', 'GNI', 'HDI', 'GNIminHDI','of_name', 'TLD', 'iso2', 'iso3']
merged_df.columns = newNames
merged_df

,life_exp,country,rank,years_school,exp_school,GNI,HDI,GNIminHDI,of_name,TLD,iso2,iso3
0,83.9872,SWITZERLAND,1.0,13.859660,16.500299,66933.004540,0.962,5.0,The Swiss Confederation,.ch,CH,CHE
1,83.2339,NORWAY,2.0,13.003630,18.185200,64660.106220,0.961,6.0,The Kingdom of Norway,.no,NO,NOR
2,82.6782,ICELAND,3.0,13.767170,19.163059,55782.049810,0.959,11.0,Iceland,.is,IS,ISL
3,85.4734,"HONG KONG, CHINA (SAR)",4.0,12.226210,17.278170,62606.845400,0.952,6.0,NaN,NaN,NaN,NaN
4,84.5265,AUSTRALIA,5.0,12.726820,21.054590,49238.433350,0.951,18.0,The Commonwealth of Australia,.au,AU,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...
190,61.6627,BURUNDI,187.0,3.129267,10.722722,731.786709,0.426,4.0,The Republic of Burundi,.bi,BI,BDI
191,53.8947,CENTRAL AFRICAN REPUBLIC,188.0,4.334000,8.040172,966.058611,0.404,1.0,NaN,NaN,NaN,NaN
192,61.5763,NIGER,189.0,2.116717,6.957112,1239.866936,0.400,-3.0,NaN,NaN,NaN,NaN
193,52.5254,CHAD,190.0,2.573774,8.035914,1364.169417,0.394,-7.0,The Republic of Chad,.td,TD,TCD
194,54.9752,SOUTH SUDAN,191.0,5.726140,5.542510,767.787000,0.385,-1.0,The Republic of South Sudan,.ss,SS,SSD

In [ ]:
#hay columnas con missing values?
merged_df.isnull().sum()

life_exp         2
country          2
rank             4
years_school     2
exp_school       2
GNI              2
HDI              2
GNIminHDI        2
of_name         46
TLD             46
iso2            47
iso3            46
dtype: int64

In [ ]:
#probablemente esto se debe a que no se corresponden los datos entre ambas DF
#eliminando los valores:
merged_df = merged_df.dropna()
merged_df

,life_exp,country,rank,years_school,exp_school,GNI,HDI,GNIminHDI,of_name,TLD,iso2,iso3
0,83.9872,SWITZERLAND,1.0,13.859660,16.500299,66933.004540,0.962,5.0,The Swiss Confederation,.ch,CH,CHE
1,83.2339,NORWAY,2.0,13.003630,18.185200,64660.106220,0.961,6.0,The Kingdom of Norway,.no,NO,NOR
2,82.6782,ICELAND,3.0,13.767170,19.163059,55782.049810,0.959,11.0,Iceland,.is,IS,ISL
4,84.5265,AUSTRALIA,5.0,12.726820,21.054590,49238.433350,0.951,18.0,The Commonwealth of Australia,.au,AU,AUS
5,81.3753,DENMARK,6.0,12.960490,18.714800,60364.785950,0.948,6.0,The Kingdom of Denmark,.dk,DK,DNK
...,...,...,...,...,...,...,...,...,...,...,...,...
188,59.3247,MOZAMBIQUE,185.0,3.197642,10.219152,1198.073924,0.446,2.0,The Republic of Mozambique,.mz,MZ,MOZ
189,58.9414,MALI,186.0,2.310000,7.423038,2132.629443,0.428,-11.0,The Republic of Mali,.ml,ML,MLI
190,61.6627,BURUNDI,187.0,3.129267,10.722722,731.786709,0.426,4.0,The Republic of Burundi,.bi,BI,BDI
193,52.5254,CHAD,190.0,2.573774,8.035914,1364.169417,0.394,-7.0,The Republic of Chad,.td,TD,TCD
194,54.9752,SOUTH SUDAN,191.0,5.726140,5.542510,767.787000,0.385,-1.0,The Republic of South Sudan,.ss,SS,SSD

In [ ]:
#ordenando las columnas
merged_df.set_index(['country', 'of_name', 'rank', 'TLD', 'iso2', 'iso3'], inplace=True)
merged_df.head()

,,,,,,life_exp,years_school,exp_school,GNI,HDI,GNIminHDI
country,of_name,rank,TLD,iso2,iso3,,,,,,
SWITZERLAND,The Swiss Confederation,1.0,.ch,CH,CHE,83.9872,13.85966,16.500299,66933.00454,0.962,5.0
NORWAY,The Kingdom of Norway,2.0,.no,NO,NOR,83.2339,13.00363,18.185200,64660.10622,0.961,6.0
ICELAND,Iceland,3.0,.is,IS,ISL,82.6782,13.76717,19.163059,55782.04981,0.959,11.0
AUSTRALIA,The Commonwealth of Australia,5.0,.au,AU,AUS,84.5265,12.72682,21.054590,49238.43335,0.951,18.0
DENMARK,The Kingdom of Denmark,6.0,.dk,DK,DNK,81.3753,12.96049,18.714800,60364.78595,0.948,6.0

In [ ]:
#orden alfab√©tico
merged_df.sort_index(axis=1,inplace=True)

<ipython-input-156-42b5fab4ad70>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.sort_index(axis=1,inplace=True)

In [ ]:
#regresando los √≠ndices seleccionados
merged_df.reset_index(inplace=True)
#resultado
merged_df

,index,country,of_name,rank,TLD,iso2,iso3,GNI,GNIminHDI,HDI,exp_school,life_exp,years_school
0,0,SWITZERLAND,The Swiss Confederation,1.0,.ch,CH,CHE,66933.004540,5.0,0.962,16.500299,83.9872,13.859660
1,1,NORWAY,The Kingdom of Norway,2.0,.no,NO,NOR,64660.106220,6.0,0.961,18.185200,83.2339,13.003630
2,2,ICELAND,Iceland,3.0,.is,IS,ISL,55782.049810,11.0,0.959,19.163059,82.6782,13.767170
3,3,AUSTRALIA,The Commonwealth of Australia,5.0,.au,AU,AUS,49238.433350,18.0,0.951,21.054590,84.5265,12.726820
4,4,DENMARK,The Kingdom of Denmark,6.0,.dk,DK,DNK,60364.785950,6.0,0.948,18.714800,81.3753,12.960490
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,143,MOZAMBIQUE,The Republic of Mozambique,185.0,.mz,MZ,MOZ,1198.073924,2.0,0.446,10.219152,59.3247,3.197642
144,144,MALI,The Republic of Mali,186.0,.ml,ML,MLI,2132.629443,-11.0,0.428,7.423038,58.9414,2.310000
145,145,BURUNDI,The Republic of Burundi,187.0,.bi,BI,BDI,731.786709,4.0,0.426,10.722722,61.6627,3.129267
146,146,CHAD,The Republic of Chad,190.0,.td,TD,TCD,1364.169417,-7.0,0.394,8.035914,52.5254,2.573774
147,147,SOUTH SUDAN,The Republic of South Sudan,191.0,.ss,SS,SSD,767.787000,-1.0,0.385,5.542510,54.9752,5.726140

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         148 non-null    int64
 1   country       148 non-null    object
 2   of_name       148 non-null    object
 3   rank          148 non-null    float64
 4   TLD           148 non-null    object
 5   iso2          148 non-null    object
 6   iso3          148 non-null    object
 7   GNI           148 non-null    float64
 8   GNIminHDI     148 non-null    float64
 9   HDI           148 non-null    float64
 10  exp_school    148 non-null    float64
 11  life_exp      148 non-null    float64
 12  years_school  148 non-null    float64
dtypes: float64(7), int64(1), object(5)
memory usage: 15.2+ KB

# 3. Con los archivos fallecidosCOVID.csv,  reporte mensual de fallecidos. Mostrar mes (y a√±o) y cuantos fallecidos hubo.

In [ ]:
# Leer el archivo fallecidosCOVID.csv
fallecidos = pd.read_csv("https://github.com/in-Sinergy/Pau_T3/raw/main/fallecidosCOVID.csv")
fallecidos

       FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID
0       20240317;20220219;63;MASCULINO;Criterio virol√≥...
1       20240317;20210529;74;MASCULINO;Criterio virol√≥...
2       20240317;20210623;72;FEMENINO;Criterio SINADEF...
3       20240317;20210824;85;MASCULINO;Criterio invest...
4       20240317;20210627;46;MASCULINO;Criterio virol√≥...
...                                                   ...
220913  20240317;20200809;77;MASCULINO;Criterio radiol...
220914  20240317;20201028;81;MASCULINO;Criterio cl√≠nic...
220915  20240317;20200515;68;FEMENINO;Criterio SINADEF...
220916  20240317;20210414;66;FEMENINO;Criterio cl√≠nico...
220917  20240317;20200819;61;MASCULINO;Criterio nexo e...

[220918 rows x 1 columns]

In [ ]:
#se observa que las columnas est√°n todas juntas
#hay que separarlas
fallecidos[['corte','fallecimiento', 'edad', 'sexo', 'criterio', 'dep', 'prov', 'dist', 'ubigeo', 'uuid']] =fallecidos['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'].str.split(';', expand=True)
fallecidos

,FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID,corte,fallecimiento,edad,sexo,criterio,dep,prov,dist,ubigeo,uuid
0,20240317;20220219;63;MASCULINO;Criterio virol√≥...,20240317,20220219,63,MASCULINO,Criterio virol√≥gico,TUMBES,TUMBES,TUMBES,240101,203506
1,20240317;20210529;74;MASCULINO;Criterio virol√≥...,20240317,20210529,74,MASCULINO,Criterio virol√≥gico,TUMBES,TUMBES,TUMBES,240101,203532
2,20240317;20210623;72;FEMENINO;Criterio SINADEF...,20240317,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203584
3,20240317;20210824;85;MASCULINO;Criterio invest...,20240317,20210824,85,MASCULINO,Criterio investigaci√≥n Epidemiol√≥gica,TUMBES,TUMBES,TUMBES,240101,212541
4,20240317;20210627;46;MASCULINO;Criterio virol√≥...,20240317,20210627,46,MASCULINO,Criterio virol√≥gico,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203665
...,...,...,...,...,...,...,...,...,...,...,...
220913,20240317;20200809;77;MASCULINO;Criterio radiol...,20240317,20200809,77,MASCULINO,Criterio radiol√≥gico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,040102,
220914,20240317;20201028;81;MASCULINO;Criterio cl√≠nic...,20240317,20201028,81,MASCULINO,Criterio cl√≠nico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101,
220915,20240317;20200515;68;FEMENINO;Criterio SINADEF...,20240317,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114,
220916,20240317;20210414;66;FEMENINO;Criterio cl√≠nico...,20240317,20210414,66,FEMENINO,Criterio cl√≠nico,LIMA,LIMA,LOS OLIVOS,150117,
220917,20240317;20200819;61;MASCULINO;Criterio nexo e...,20240317,20200819,61,MASCULINO,Criterio nexo epidemiol√≥gico,PIURA,PIURA,TAMBO GRANDE,200114,

In [ ]:
#eliminar la primera columna
fallecidos = fallecidos.drop(columns='FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID')
fallecidos

In [ ]:
fallecidos

,corte,fallecimiento,edad,sexo,criterio,dep,prov,dist,ubigeo,uuid
0,20240317,20220219,63,MASCULINO,Criterio virol√≥gico,TUMBES,TUMBES,TUMBES,240101,203506
1,20240317,20210529,74,MASCULINO,Criterio virol√≥gico,TUMBES,TUMBES,TUMBES,240101,203532
2,20240317,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203584
3,20240317,20210824,85,MASCULINO,Criterio investigaci√≥n Epidemiol√≥gica,TUMBES,TUMBES,TUMBES,240101,212541
4,20240317,20210627,46,MASCULINO,Criterio virol√≥gico,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203665
...,...,...,...,...,...,...,...,...,...,...
220913,20240317,20200809,77,MASCULINO,Criterio radiol√≥gico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,040102,
220914,20240317,20201028,81,MASCULINO,Criterio cl√≠nico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101,
220915,20240317,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114,
220916,20240317,20210414,66,FEMENINO,Criterio cl√≠nico,LIMA,LIMA,LOS OLIVOS,150117,
220917,20240317,20200819,61,MASCULINO,Criterio nexo epidemiol√≥gico,PIURA,PIURA,TAMBO GRANDE,200114,

In [ ]:
#eliminar las columnas 'corte' y 'uuid' ya que son innecesarias
bye=['corte', 'uuid']
fallecidos = fallecidos.drop(columns=bye)
fallecidos

,fallecimiento,edad,sexo,criterio,dep,prov,dist,ubigeo
0,20220219,63,MASCULINO,Criterio virol√≥gico,TUMBES,TUMBES,TUMBES,240101
1,20210529,74,MASCULINO,Criterio virol√≥gico,TUMBES,TUMBES,TUMBES,240101
2,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102
3,20210824,85,MASCULINO,Criterio investigaci√≥n Epidemiol√≥gica,TUMBES,TUMBES,TUMBES,240101
4,20210627,46,MASCULINO,Criterio virol√≥gico,TACNA,TACNA,ALTO DE LA ALIANZA,230102
...,...,...,...,...,...,...,...,...
220913,20200809,77,MASCULINO,Criterio radiol√≥gico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,040102
220914,20201028,81,MASCULINO,Criterio cl√≠nico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101
220915,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114
220916,20210414,66,FEMENINO,Criterio cl√≠nico,LIMA,LIMA,LOS OLIVOS,150117
220917,20200819,61,MASCULINO,Criterio nexo epidemiol√≥gico,PIURA,PIURA,TAMBO GRANDE,200114

In [ ]:
#comienza el formateo de las columnas
# Convertir la columna de fecha a datetime
pd.to_datetime(fallecidos['fallecimiento'])
fallecidos['fecha'] = pd.to_datetime(fallecidos['fallecimiento'])

In [ ]:
# Extraer el a√±o y el mes de la fecha
fallecidos['a√±o'] = fallecidos['fecha'].dt.year
fallecidos['mes'] = fallecidos['fecha'].dt.month

In [ ]:
# Agrupar por a√±o y mes, y contar los fallecidos
reporte_mensual = fallecidos.groupby(['a√±o', 'mes']).size().reset_index(name='fallecidos')

In [ ]:
# Mostrar el reporte mensual
reporte_mensual

     a√±o  mes  fallecidos
0   2020    3         181
1   2020    4        5134
2   2020    5       16363
3   2020    6       17462
4   2020    7       18501
5   2020    8       17668
6   2020    9        8437
7   2020   10        4471
8   2020   11        3229
9   2020   12        3885
10  2021    1       11175
11  2021    2       18645
12  2021    3       20691
13  2021    4       23110
14  2021    5       16692
15  2021    6        7722
16  2021    7        3481
17  2021    8        1850
18  2021    9        1140
19  2021   10        1066
20  2021   11        1107
21  2021   12        1283
22  2022    1        3562
23  2022    2        3503
24  2022    3        1299
25  2022    4         741
26  2022    5         625
27  2022    6         542
28  2022    7        1025
29  2022    8        1429
30  2022    9         892
31  2022   10         429
32  2022   11         272
33  2022   12         423
34  2023    1         371
35  2023    2         287
36  2023    3         295
37  2023    4         337
38  2023    5         323
39  2023    6         291
40  2023    7         258
41  2023    8         249
42  2023    9          60
43  2023   10          26
44  2023   11          33
45  2023   12          40
46  2024    1         249
47  2024    2          62
48  2024    3           2

# 4. Reporte de fallecidos por mes, pero el tipo de muerte debe estar en columnas separadas.

In [ ]:
# Agrupar por a√±o, mes y tipo de muerte, y contar los fallecidos
reporte_tipo_muerte = fallecidos.groupby(['a√±o', 'mes', 'criterio']).size().unstack(fill_value=0).reset_index()

In [ ]:
# Mostrar el reporte por tipo de muerte
reporte_tipo_muerte

criterio,a√±o,mes,Criterio SINADEF,Criterio cl√≠nico,Criterio investigaci√≥n Epidemiol√≥gica,Criterio nexo epidemiol√≥gico,Criterio radiol√≥gico,Criterio serol√≥gico,Criterio virol√≥gico,NotiCovid,sinadef
0,2020,3,35,52,25,2,7,2,58,0,0
1,2020,4,1793,541,498,68,182,778,1274,0,0
2,2020,5,6826,1152,1427,203,480,3233,3042,0,0
3,2020,6,5722,670,1706,251,391,5605,3117,0,0
4,2020,7,5012,609,1512,262,415,7501,3190,0,0
5,2020,8,4589,611,1456,208,534,7400,2870,0,0
6,2020,9,1984,475,755,105,233,3483,1402,0,0
7,2020,10,1091,463,469,50,172,1417,809,0,0
8,2020,11,704,462,307,37,186,867,666,0,0
9,2020,12,802,547,171,41,179,1047,1098,0,0
10,2021,1,2190,514,323,107,434,2448,5159,0,0
11,2021,2,4993,501,465,150,556,2539,9441,0,0
12,2021,3,6100,525,517,229,456,1703,11161,0,0
13,2021,4,7450,748,591,246,363,1488,12224,0,0
14,2021,5,5225,628,349,155,283,1175,8877,0,0
15,2021,6,2723,116,123,51,138,746,3825,0,0
16,2021,7,1025,113,67,35,68,521,1652,0,0
17,2021,8,578,75,22,15,36,287,837,0,0
18,2021,9,554,12,0,0,0,190,384,0,0
19,2021,10,469,12,0,0,0,148,437,0,0
20,2021,11,441,16,0,0,0,157,493,0,0
21,2021,12,585,8,0,0,0,133,557,0,0
22,2022,1,1894,22,0,0,0,41,1605,0,0
23,2022,2,1604,20,0,0,0,1,1878,0,0
24,2022,3,352,6,0,0,0,0,941,0,0
25,2022,4,131,9,0,0,0,0,601,0,0
26,2022,5,85,3,0,0,0,0,537,0,0
27,2022,6,81,3,0,0,0,0,458,0,0
28,2022,7,299,3,0,0,0,0,723,0,0
29,2022,8,405,6,0,0,0,0,1018,0,0
30,2022,9,154,12,0,0,0,0,726,0,0
31,2022,10,53,59,0,0,0,0,317,0,0
32,2022,11,23,0,0,0,0,0,249,0,0
33,2022,12,66,0,0,0,0,0,357,0,0
34,2023,1,34,1,0,0,0,0,336,0,0
35,2023,2,4,0,0,0,0,0,283,0,0
36,2023,3,6,0,0,0,0,0,289,0,0
37,2023,4,17,0,0,0,0,0,320,0,0
38,2023,5,6,0,0,0,0,0,317,0,0
39,2023,6,2,0,0,0,0,0,289,0,0
40,2023,7,3,0,0,0,0,0,255,0,0
41,2023,8,7,0,0,0,0,0,242,0,0
42,2023,9,7,0,0,0,0,0,53,0,0
43,2023,10,8,0,0,0,0,0,18,0,0
44,2023,11,13,0,0,0,0,0,20,0,0
45,2023,12,17,0,0,0,0,0,22,1,0
46,2024,1,35,0,0,0,0,0,83,115,16
47,2024,2,1,0,0,0,0,0,45,16,0
48,2024,3,0,0,0,0,0,0,2,0,0